@model DoctorPortal.Models.Speciality
@{
    ViewData["Title"] = "CreateSpeciality";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form asp-controller="Admin" asp-action="CreateSpeciality" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SpecialityName"></label>
                        <input asp-for="SpecialityName" class="form-control" />
                    </div>

                    <button id="update-profile-button" type="submit" class="btn btn-primary">@localizer["Create"]</button>
                </form>
            </div>
        </div>
    </div>