@using Microsoft.AspNetCore.Identity
@using DoctorPortal.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ 
    var myUser = (await UserManager.GetUserAsync(User));
}
    @if (SignInManager.IsSignedIn(User))
    {
        if (myUser.Email == "admin@gmail.com")
        {
            <li >
                <a  asp-area="Identity" asp-page="/Views/Manage/Index" title="Manage">
                    <i class="fas fa-users-cog"></i>
                    <p>Admin Paneli</p>
                </a>
            </li>
        }

    }
