@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser myUser = (await UserManager.GetUserAsync(User));

}
@if (SignInManager.IsSignedIn(User))
{


    if (User.IsInRole("Admin"))
    {
        <li class="active ">
            <a asp-area="Patient" asp-controller="Profile" asp-action="Index">
                <i class="far fa-user"></i>
                <p>Profil</p>
            </a>
        </li>
        <li>
            <a href="./icons.html">
                <i class="far fa-calendar-check"></i>
                <p>Randevular</p>
            </a>
        </li>
        <li>
            <a href="./map.html">
                <i class="fas fa-prescription-bottle"></i>
                <p>Reçeteler</p>
            </a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Views/Manage/Index" title="Manage">
                <i class="fas fa-users-cog"></i>
                <p>Admin Paneli</p>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Admin" asp-action="CreateSpeciality">
                <i class="fas fa-prescription-bottle"></i>
                <p>Branş Ekle</p>
            </a>
        </li>
    }
    if (User.IsInRole("Patient"))
    {
        <li class="active ">
            <a asp-area="Patient" asp-controller="Profile" asp-action="Index">
                <i class="far fa-user"></i>
                <p>Profil</p>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Patient" asp-action="CreateAppointment">
                <i class="far fa-calendar-check"></i>
                <p>Randevular</p>
            </a>
        </li>
        <li>
            <a href="./map.html">
                <i class="fas fa-prescription-bottle"></i>
                <p>Reçeteler</p>
            </a>
        </li>

    }
    if (User.IsInRole("Doctor"))
    {
        <li class="active ">
            <a asp-area="Doctor" asp-controller="Profile" asp-action="Index">
                <i class="far fa-user"></i>
                <p>Profil</p>
            </a>
        </li>
        <li>
            <a href="./icons.html">
                <i class="far fa-calendar-check"></i>
                <p>Randevular</p>
            </a>
        </li>
        <li>
            <a href="./map.html">
                <i class="fas fa-prescription-bottle"></i>
                <p>Reçeteler</p>
            </a>
        </li>
    }
}
