@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="height:500px; width:500px; background-color:red;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center" style="height:500px; width:500px; background-color:black;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center" style="height:500px; width:500px; background-color:red;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center" style="height: 500px; width: 500px; background-color: black;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(User.IsInRole("Patient")){

<form method="get" asp-controller="Patient" asp-action="SharePost">
    <button type="submit">Submit</button>
</form>
<form method="get" asp-controller="Patient" asp-action="ShowPost">
    <button type="submit">ShowPost</button>
</form>
}


