
@{
    ViewData["Title"] = "SharePost";
}

<h1> Share Post Form</h1>
<form asp-controller="Home" asp-action="SharePost" method="post">
    <table>
        <tr>
            <td>Content:</td>
            <td><input name="content" type="text" /></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>
