@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DoctorPortal.Models.Post
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;
<div class="container">
    <form method="post" asp-controller="Patient" asp-action="SharePost">
        <div class="form-group">
            <label asp-for="SpecialityId"></label>
            <select class="form-control" asp-for="SpecialityId" asp-items="@(new SelectList((List<Speciality>)ViewBag.Specialities,nameof(Speciality.SpecialityId),nameof(Speciality.SpecialityName)))"></select>
            <span asp-validation-for="SpecialityId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostContent"></label>
            <input asp-for="PostContent" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">@localizer["Create"]</button>
    </form>
</div>